@page
@model MyRazorApp.Pages.SuccessModel
@{
    ViewData["Title"] = "Sukces";
}
<div class="sukces">
    <div class="sukcesItems"> 
 
        <h2>Witamy, @Model.Name @Model.Nazwisko!</h2>

        <!-- Możesz tutaj dodać dowolny obrazek -->
        <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExemMzbnJ1cGhxYmwxYWw0Mmd5d2JieHdwbW03YnhmZHprdDR6em5pZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QTlQjC6vqOH9S6Z4jx/giphy.webp" alt="Powitalny obrazek" />

        <p>Rejestracja zakończyła się sukcesem!</p>
    </div>
</div>